@font-face {
    font-family: hello;
    src: url(/Fonts/Espiritu-Regular.otf);
}
@font-face {
    font-family: descended;
    src: url(/Fonts/Espiritu-Condensed.ttf);
}
::selection{
    background-color: #F8ABB5;
    color:black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:hello;
    color:white;
}
html , body{
   min-height: 100%;
    min-width: 100%;
}
#main{
    overflow:hidden;
    min-height:100vh;
    width:100%;
    background-color: #040308;
}
header{
    padding-inline:15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:20vh;
    width:100%;
}
header .logo a img{
  width:194px;
  height:70px;
}

.nav-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:.1vw;
    flex-grow:.1;
}
.nav-content a{
    color:#ABABAB;
    font-size:18px;
    text-decoration-line: none;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.nav-content a svg{
    width:24px;
    height:24px;
    vertical-align:middle;
    
}
.nav-content a:nth-child(1):hover #heart path{
    --tw-text-opacity:1;
    color:rgb(255 65 1/var(--tw-text-opacity));
}
.nav-content a:nth-child(2):hover .podcast path{
    --tw-text-opacity: 1;
    color: rgb(247 162 22 / var(--tw-text-opacity));
}
.nav-content a:nth-child(3):hover .article path{
    --tw-text-opacity: 1;
    color: rgb(248 171 181 / var(--tw-text-opacity));
}
.nav-content a:hover{
    --tw-text-opacity:1;
    color:#abababde;
}

/* start of hero section */
#hero-section{
    margin-inline:2.5rem;
    padding-top:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width:100%;
}

.img-container{
    flex-grow: 1;
    max-width:700px;
    height:auto;
}

#hero-section img{
  /* width:247px; */
    width:100%;
    height:auto;
    display: block;
}
.hero-content-section{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:2rem;
}

.hero-content-section h3{
    font-family: descended;
    font-size:1.75rem;
    font-weight:500;
    --tw-text-opacity: 1;
    color: rgb(248 171 181 / var(--tw-text-opacity));
}
.hero-content-section h1{
    color:white;
    width:90%;
    font-size:3.3rem;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
}
.hero-content-section h4{
    color:#ABABAB;
    font-family:DM sans;
    font-size:1.5vw;
    width:90%;
    line-height:2;
}

/* Bottle part */
#bottle-part{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height:100vh;
    background-color: #040308;
    padding-inline:2rem;
    padding-top:150px;
}
.bottle-img-container{
    max-width:660px;
    height:auto;
}
.bottle-img-container img{
    width:100%;
    height:100%;
}
.bottle-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
    top:-12rem; 
}
#bottle-part .bottle-content h3{
    font-family:descended;
    --tw-text-opacity: 1;
    color: rgb(247 162 22 / var(--tw-text-opacity));
    font-size:1.75rem;
    line-height: 1.28;
    font-weight: 300;
}
#bottle-part .bottle-content h2{
    text-align: center;
    max-width: 56rem;
    color:white;
    line-height: 1.25;
    font-size:2rem;
    margin-top:2.5rem;
}
.str-text{
    --tw-text-opacity: 1;
    color: rgb(43 195 112 / var(--tw-text-opacity)); 
}
.star-1{
    max-width:200px;
    height:auto;
}
.star-2{
    max-width:100px;
    height:auto;
}
.star-1 img,.star-2 img{
    width:100%;
    height:100%;
}
.star-1{
    position:absolute;
    left:5rem;
    bottom:6rem;
}
.star-2{
    position:absolute;
    right:5rem;
    bottom:5rem;
}

/* Card-Part */
#card-part {
    padding-inline:24px;
    position: relative;
}
#card-part h3{
    font-family: descended;
    font-size:1.75rem;
    font-weight:500;
    --tw-text-opacity: 1;
    color: rgb(248 171 181 / var(--tw-text-opacity));
    line-height: 3;
}
#card-part h1{
    color:white;
    width:90%;
    font-size:2rem;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
}
#card-part .btn{
    cursor:pointer;
    position:absolute;
    right:2rem;
    top:2rem;
    font-family:DM sans;
    background-color: #040308;
    outline:none;
    padding:1.1rem 1.5rem;
    border:1px solid white;
    border-radius: 20px;
    font-size:1.2rem;
    transition-duration: .15s;
}

#card-part button:hover{
    background-color: #2BC370; 
    border:1px solid #2BC370; 
}
/* card-section part */
.card-section{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,2fr));
    gap:2rem;
}
.card-section a{
    position:relative;
    overflow: hidden;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content:center; 
    text-decoration-line:none ;
    border:1px solid #575656;
    border-radius:32px;
    transition-duration: .5s;
    padding-bottom:3rem;
}
.card-section a:hover #card-button{
    color:black;
    background-color: #2BC370; 
    border:1px solid #2BC370; 
}
.card-section{
    padding-top:80px;
}
.img-card-container{
    background-color: transparent;
    max-width:482px;
}
.img-card-container img{
    width:100%;
    height: auto;
    object-fit: cover;
}
.card-content{
    position: relative;
    top:-65px; 
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    flex-direction: column;
    margin-bottom:.1rem;
}
.card-content h1{
    text-align: center;
}
.card-content h4{
    font-family:DM sans;
    font-weight:500;
}

#card-button{
    font-family:DM sans;
    background-color: #040308;
    padding:1.1rem 1.5rem;
    border:1px solid white;
    border-radius: 20px;
    font-size:1.2rem;
}

/* link_part  */
#link-part{
    padding-top:2.25rem;
    padding-inline:24px;
    width:100%;
    background-color: #040308;
}
#link-part h3{
    font-family: descended;
    font-size:1.75rem;
    font-weight:500;
    --tw-text-opacity: 1;
    color: rgb(248 171 181 / var(--tw-text-opacity));
    line-height: 3;
}
.link-content{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,2fr));
    gap:1rem;
}

.link-content li svg {
    width:2.25rem;
    vertical-align: middle;
}
.link-content li svg path{
    transition:color cubic-bezier(0.19, 1, 0.22, 1) .5s;
}
.link-content{
    list-style-type: none;
}
.link-content li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 8px;
    border-bottom:1px solid #5A5A5A;
    cursor: pointer;
}

.link-content li a{
    transition:color cubic-bezier(0.19, 1, 0.22, 1) .5s;
    font-family:DM sans;
    font-size: 1.5rem;
    text-decoration-line:none;
    font-weight:800;
}
.link-content li:hover a{
    --tw-text-opacity: 1;
  color: rgb(43 195 112 / var(--tw-text-opacity));
}
.link-content li:hover svg path{
    --tw-text-opacity: 1;
    color: rgb(43 195 112 / var(--tw-text-opacity));
}

/* slider-part */
.slider-part {
    margin-top:8rem;
    position: relative;
    min-height:100vh;
}
.slider-part h3{
    font-family: descended;
    font-size:1.75rem;
    font-weight:500;
    --tw-text-opacity: 1;
    color: rgb(248 171 181 / var(--tw-text-opacity));
    line-height: 3;
}
.slider-part h1{
    color:white;
    width:50%;
    font-size:2.5rem;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 700;
}
.slider-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2.5rem;
    cursor:pointer;
    position:absolute;
    right:2rem;
    top:2rem;
}
.slider-part .btn{
    font-family:DM sans;
    background-color: #040308;
    outline:none;
    padding:1.1rem 1.5rem;
    border:1px solid white;
    border-radius: 20px;
    font-size:1.2rem;
    transition-duration: .15s;
}

.slider-part button:hover{
    background-color: #2BC370; 
    border:1px solid #2BC370; 
}
.slider-arrow{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
}
.slider-arrow svg{
    width:4rem;
}
.slider-arrow svg:hover path{
    color:#cfcacab4;
}
/* start of sliding part */
.swiper{
    margin-top: 5rem;
    width:100%;
   min-height:500px;
}
.human-img-container{
    position:relative;
}
.human-img-container svg{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position:absolute;
    width:2rem;
}
.sliding-container{
    width: 260px;
}
.sliding-container a{
    transition:color cubic-bezier(0.19, 1, 0.22, 1) .5s;
    /* display:block; */
    text-decoration: none;
}
.sliding-container .human-img-container{
    width: 100%;
    height:auto;
}
.inner-img-container{
    width:100%; 
    border-radius: 32px;
    overflow:hidden;

}
.inner-img-container img{
    width:100%;
    object-fit: cover;
    height:auto;
}

#human-course-data#human-course-data{
    line-height: 1.333;
    font-size: 1.5rem;
    font-family: DM Sans;
    margin-top: 1.5rem;
    font-weight: 700;
    color:unset;
}

.sliding-container p{
    letter-spacing: .16px;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(189 189 189 / var(--tw-text-opacity));
    font-family: DM Mono;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: .5rem;
}

.sliding-container a:hover{
    --tw-text-opacity: 1;
    color: rgb(43 195 112 / var(--tw-text-opacity)); 
}

/* Launch part */
#launch-part{
    margin-top: 5rem;
    padding-inline:24px;
    position: relative;
   min-height:100vh;
}
#launch-part h3{
    font-family: descended;
    font-size:1.75rem;
    font-weight:500;
    --tw-text-opacity: 1;
    color: rgb(248 171 181 / var(--tw-text-opacity));
    line-height: 3;
}
#launch-part h1{
    color:white;
    width:90%;
    font-size:2.5rem;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
}
#launch-part .btn{
    cursor:pointer;
    position:absolute;
    right:2rem;
    top:2rem;
    font-family:DM sans;
    background-color: #040308;
    outline:none;
    padding:1.1rem 1.5rem;
    border:1px solid white;
    border-radius: 20px;
    font-size:1.2rem;
    transition-duration: .15s;
}
#launch-part button:hover{
    background-color: #2BC370; 
    border:1px solid #2BC370; 
}
.launch-part-container{
    margin-top: 7rem;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
}
.mushroom-img-container{
   
    max-width:320px;
}
.left-part{
    display:flex;
    align-items: center;
    justify-content: center;
}

.mushroom-img-container img{
    width:100%;
}
.left-part a{  
    text-decoration-line:none ;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1D8046;
    border-radius: 32px;
}
/* added media queries */
@media (max-width:700px) {
    .launch-part-container{
        display:grid;
        grid-template-columns: 1fr;
    }  
}
/* left content part */
.left-part-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1.5rem;
}
.left-part a{
    padding:24px;
}
.left-part-content h2{
    width:80%;
    text-align: center;
}
.inner-content{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.profile-img-container{
    max-width:4rem;
    max-height:4rem;
    border-radius: 50%;
    overflow:hidden;
}
.profile-img-container img{
    width:100%;
}
.inner-content h5{
    font-family:'DM Mono';
    font-size:1.2rem;
    color:#D1E1D8;  
    text-transform: uppercase;
    font-weight: 400;
}
.lft-content-data{
    color:#BDCFC4;
    font-family:DM sans;
    font-size:1.1rem;
    text-align: center;

}
.left-part-content #card-button{
    padding-inline:4rem;
    background-color:#1D8046;
}
.left-part a:hover{
    background-color:#1d8046b3;
}
.left-part a:hover .left-part-content #card-button {
    background-color:#2BC370;
    color:black;
    border-color: #2BC370;
}

/* Right-part */
.profile-links li{
    list-style-type: none;
}
.right-part a{
    text-decoration-line:none ;
    font-size:1.5rem;
    font-weight: 800;
    font-family:Dm sans;
    width:60%;
    flex-shrink: 0;
}
.right-part a:hover{
    color:#2BC370;
}
.qna-btn-part button{
    padding-inline: 3.2rem;
    background-color: black;
    padding-block: 10px;
    outline: none;
    border:1px solid white;
    border-radius: 12px;
}
.qna-btn-part {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:2rem;
}
.profile-picture-part{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;

}
.profile-picture-part h5{
    font-family: Dm Mono;
    font-size:1.1rem;
    color:#D1E1D8;
    text-transform: uppercase;
    font-weight: 400;
}
.profile-links-container{
    padding:1rem;
    display:flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap:1.1rem;
}
.hori-line{
    width:100%;
    height:1px;
    color:#5A5A5A;
}

/* footer Part */
footer{
    margin-top:11rem;
    padding-top:7.5rem;
    min-height:100vh;
    width:100%;
    background-color:#4958B4;
    overflow: hidden;
    padding-bottom:6rem;
}

.footer-content{
    display:flex;
    align-items: center;
    gap:3rem;
    justify-content: center;
    width:100%;
    height:100%;
    padding-inline:5rem;
}
.footer-content-left{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:2.5rem;
    width:55%;
    height:100%;
}
.footer-content-left p{
    font-family:Dm Sans;
    font-size:1.3rem;
    color:#BFC4E5;
}
.footer-content-left h2{
    width:100%;
    font-size:2rem;
}
.footer-content-right{
    width:45%;
    position:relative;
    height:100%;
}

.right-footer-img-container{
    position:absolute;
    top: -20.5rem;
    max-width:500px;
}
.right-footer-img-container img{
    width:100%;
}
form input::placeholder{
    color:#BFC4E5;
    font-family:Dm Sans;
    font-size:1.5rem;
    padding-block: 0;
}
.input p input{
    width:100%;
    outline:none;
    padding-inline:1rem;
    padding-block: 1rem;
    background-color: transparent;
    border:1px solid white;
    border-radius:12px;
    font-size:1.5rem;
    font-family: Dm Sans;
}
.form-container{
    max-width:450px;
    margin-inline:auto;
}
.input{
    display:flex;
    flex-direction: column;
    gap:.5rem;
    margin-bottom:2rem;
}
.form-container button{
    width:100%;
    background-color: #FE8BA9;
    font-family:Dm Sans;
    font-weight:600;
    font-size:1.3rem;
    padding-block:1.5rem;
    padding-inline:1rem;
    border:none;
    border-radius:12px;
    cursor:pointer;
    margin-bottom:2rem;
}
.form-container button:hover{
    background-color:#9c062ee8;
}

.page-warning{
    color:#BDBDBD;
    font-family:Dm Sans;
    text-align: center;
}



 